div(class="modal", id="modal1")
    div(class="modal-background animated fadeIn")
    div(class="modal-card animated slideInUp slow")
        header(class="modal-card-head has-background-info")
            p(class="modal-card-title has-text-white") Leche
            button(class="delete" aria-label="close")
        section(class="modal-card-body has-text-dark")
            article(class="media")
                figure(class="media-left")
                    p(class="image is-128x128")
                         img(src=url+"img/producto_1.png")
                div(class="media-content")
                    div(class="content")
                        h3 Presentaciones
                        ul
                            li Leche 900ml UHT entera
                            li Leche 900ml UHT semidescremada
                            li Leche 1000ml UHT entera
                            li Caja 12 unidades en cualquier presentación
                

div(class="modal animated fadeIn slow", id="modal2")
    div(class="modal-background animated fadeIn")
    div(class="modal-card animated slideInUp slow")
        header(class="modal-card-head has-background-info")
            p(class="modal-card-title has-text-white") Yogurt
            button(class="delete" aria-label="close")
        section(class="modal-card-body has-text-dark")
            article(class="media")
                figure(class="media-left")
                    p(class="image is-128x128")
                         img(src=url+"img/producto_3.JPG")
                div(class="media-content")
                    div(class="content")
                        h3 Presentación
                        ul
                            li Yogurt funda 1000ml semidescremada
                            li Yogurt frasco 1000gr - 2000gr
                            li Yogurt lechero 1000gr - 2000gr
                            li Yogurt bolo  100gr. X20 U
                        h3 Sabores   
                        ul
                            li Mango
                            li Vainilla
                            li Frutilla
                            li Mora
                            li Durazno
                            li Guanabaná
                            li Natural
                        h3 Presentación
                        ul
                            li Yogurt new lichi 900ml semidescremada
                        h3 Sabores    
                        ul 
                            li Frutilla
                            li Durazno
                            li Mora    


div(class="modal animated fadeIn slow", id="modal3")
    div(class="modal-background animated fadeIn")
    div(class="modal-card animated slideInUp slow")
        header(class="modal-card-head has-background-info")
            p(class="modal-card-title has-text-white") Crema de leche
            button(class="delete" aria-label="close")
        section(class="modal-card-body has-text-dark") 
            article(class="media")
                figure(class="media-left")
                    p(class="image is-128x128")
                         img(src=url+"img/producto_2.JPG")
                div(class="media-content")
                    div(class="content")
                        h3 Presentación
                        ul
                            li Crema de leche 250gr 
                            li Crema de leche 500gr 
                            li Crema de leche 1000gr 

div(class="modal animated fadeIn slow", id="modal4")
    div(class="modal-background animated fadeIn")
    div(class="modal-card animated slideInUp slow")
        header(class="modal-card-head has-background-info")
            p(class="modal-card-title has-text-white") Manjar
            button(class="delete" aria-label="close")
        section(class="modal-card-body has-text-dark")
            article(class="media")
                figure(class="media-left")
                    p(class="image is-128x128")
                         img(src=url+"img/producto_4.JPG")
                div(class="media-content")
                    div(class="content")
                        h3 Presentación
                        ul
                            li Manjar de leche 250gr
                            li Manjar del leche granel kg 
                            li Manjar nuez 250gr 
                            li Manjar coco 250gr

div(class="modal animated fadeIn slow", id="modal5")
    div(class="modal-background animated fadeIn")
    div(class="modal-card animated slideInUp slow")
        header(class="modal-card-head has-background-info")
            p(class="modal-card-title has-text-white") Mantequilla
            button(class="delete" aria-label="close")
        section(class="modal-card-body has-text-dark")
            article(class="media")
                figure(class="media-left")
                    p(class="image is-128x128")
                         img(src=url+"img/producto_5.JPG")
                div(class="media-content")
                    div(class="content")
                        h3 Presentación
                        ul
                            li Mantequilla 250gr
                            li Mantequilla granel kg

div(class="modal animated fadeIn slow", id="modal6")
    div(class="modal-background animated fadeIn")
    div(class="modal-card animated slideInUp slow")
        header(class="modal-card-head has-background-info")
            p(class="modal-card-title has-text-white") Queso
            button(class="delete" aria-label="close")
        section(class="modal-card-body has-text-dark")
             article(class="media")
                figure(class="media-left")
                    p(class="image is-128x128")
                         img(src=url+"img/producto_6.JPG")
                div(class="media-content")
                    div(class="content")
                        h3 Presentación Queso Fresco
                        ul
                            li Queso fresco 400gr 
                        h3 Presentación Quesillo
                        ul
                            li Quesillo 500gr E.V
                            li Quesillo granel kg
                        h3 Presentación Queso mozarella 
                        ul
                            li Queso mozarella 500gr
                            li Queso mozarella granel kg    
                            li Queso mozarella orégano 500gr