nav(class="navbar is-info nav-sticky nav-color" role="navigation" aria-label="main navigation")
    div(class="navbar-brand")
        a(class="navbar-item is-hidden-desktop", href=url+"index.html")
            img(src=url+"img/Recurso2.png", alt="Index")
        a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    div(id="navbar-main" class="navbar-menu")
        div(class="container navbar-start centrado")
            a(class="navbar-item has-text-weight-semibold", href=url+"index.html") Inicio
            a(class="navbar-item has-text-weight-semibold", href=url+"views/quienes_somos.html") Quiénes somos
            a(class="navbar-item has-text-weight-semibold", href=url+"views/productos.html") Productos
            a(class="navbar-item has-text-weight-semibold") Valor compartido
            a(class="navbar-item has-text-weight-semibold", href=url+"views/contactos.html") Contáctos