nav(class="navbar is-info nav-sticky nav-color" role="navigation" aria-label="main navigation")
    div(class="navbar-brand")
        a(class="navbar-item is-hidden-desktop", href=url+"index.html")
            img(src=url+"img/Recurso1.png", alt="Index")
        a(role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")

    div(id="navbar-main" class="navbar-menu")
        div(class="container navbar-start centrado")
            a(class="navbar-item has-text-weight-semibold", href=url+"index.html") Inicio
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link has-text-weight-semibold") Quiénes somos
                div(class="navbar-dropdown")
                    a(class="navbar-item has-text-weight-semibold", href=url+"views/quienes_somos.html#mision") Misión
                    a(class="navbar-item has-text-weight-semibold", href=url+"views/quienes_somos.html#vision") Visión
                    a(class="navbar-item has-text-weight-semibold", href=url+"views/quienes_somos.html#valores") Valores
                    a(class="navbar-item has-text-weight-semibold", href=url+"views/quienes_somos.html#politica") Política empresarial
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link has-text-weight-semibold") Productos
                div(class="navbar-dropdown")
                    a(class="navbar-item has-text-weight-semibold") Leches
                    a(class="navbar-item has-text-weight-semibold") Yogurt
                    a(class="navbar-item has-text-weight-semibold") Manjar
                    a(class="navbar-item has-text-weight-semibold") Quesos
            div(class="navbar-item has-dropdown is-hoverable")
                a(class="navbar-link has-text-weight-semibold") Valor compartido
            a(class="navbar-item has-text-weight-semibold", href=url+"views/contactos.html") Contáctos