- var url = '../';

include includes/head.pug
include includes/navbar.pug
section(class="hero is-link is-medium nav-color")
  div(class="hero-body")
    div(class="container")
        img(class="is-background" , src=url+"img/BODEGON.JPG")
                                                     
         
main(class="container py-2")
    section(class="section")
        div(class="columns is-multiline is-tablet")
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_1.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") LECHE
                            div(class="media-right")
                                a(class="button is-link is-rounded") Información
                                    
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_3.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") YOGURT
                            div(class="media-right")
                                a(class="button is-link is-rounded") Información
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_2.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") CREMA DE LECHE
                            div(class="media-right")
                                a(class="button is-link is-rounded") Información
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_4.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") MANJAR
                            div(class="media-right")
                                a(class="button is-link is-rounded") Información
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_5.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4") MANTEQUILLA
                            div(class="media-right")
                                a(class="button is-link is-rounded") Información      

include includes/footer.pug