- var url = '../';

include includes/head.pug
include includes/navbar.pug
section(class="hero is-medium exedent")
    div(class="hero-body")
        div(class="container")
            h1(class="title color-text3 is-size-1 has-text-grey-darker")
                | Productos
        //- img(class="is-background img-brand" , src=url+"img/BODEGON1.JPEG")


main(class="container py-2")
    section(class="section")
        div(class="columns is-multiline is-tablet")
            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_1.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4 has-text-grey-dark") LECHE
                            div(class="media-right")
                                a(class="button is-link is-rounded modal-btn", data-target="modal1") Información

            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_3.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4 has-text-grey-dark") YOGURT
                            div(class="media-right")
                                a(class="button is-link is-rounded modal-btn", data-target="modal2") Información

            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_2.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4 has-text-grey-dark") CREMA DE LECHE
                            div(class="media-right")
                                a(class="button is-link is-rounded modal-btn", data-target="modal3") Información

            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_4.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4 has-text-grey-dark") MANJAR
                            div(class="media-right")
                                a(class="button is-link is-rounded modal-btn", data-target="modal4") Información

            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_5.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4 has-text-grey-dark") MANTEQUILLA
                            div(class="media-right")
                                a(class="button is-link is-rounded modal-btn", data-target="modal5") Información

            div(class="column is-4")
                div(class="card")
                    div(class="card-image")
                        figure(class="image is-square")
                            img(src=url+"img/producto_5.JPG")
                    div(class="card-content")
                        div(class="media")
                            div(class="media-content")
                                p(class="title is-4 has-text-grey-dark") QUESO
                            div(class="media-right")
                                a(class="button is-link is-rounded modal-btn", data-target="modal6") Información

            include includes/modals.pug

include includes/footer.pug